.App {
  text-align: center;
  background-color: #87b5b5;
}

.input {
  width: 506px;
  min-height: 200px;
  margin: 40.9375px 0px;
  margin-top: 0;
  outline: none;
  padding: 10px;
  font-size: 12px;
}

.mark-output-div {
  text-align: left;
  padding: 0 5% 2% 5%;
}

.mark-input-div h2 {
  margin-top: 0;
  padding-top: 3%;
}
